services:
  app:
    build: .
    container_name: merge_conflicts_flights
    env_file:
      - .env
    volumes:
    - .:/app
    depends_on:
      db:
        condition: service_healthy
    ports:
      - "8000:8000"
    command: ["uvicorn", "src.main:app","--reload", "--reload-dir","/app/src", "--host", "0.0.0.0", "--port", "8000"]

  db:
    image: postgres:15
    container_name: merge_conflicts_flights_db
    env_file:
      - .env
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  postgres_data: